* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: Georgia, serif;
}
body {
    background-color: #fbfbfb;
}
h1, h2, h3 {
    margin-top: 0;
}
header h1 {
    margin: 0;
}
main p {
    margin-bottom: 0;
}
.logo {
    grid-area: logo;
    align-self: center;
    height: 100%;
    line-height: 3rem;
}
.main-menu {
    grid-area:menu;
    align-self:  center;
    justify-self: end;
}
.main-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.main-menu_item {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
.main-menu .main-menu_item:last-of-type {
    margin-right: 0;
}
.content-area {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
    padding: 1rem;
}
.sponsors {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-columns-gap: 1rem;
    
}
.sponsors-wrapper {
    grid-area:sponsors;
}
.sponsor {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-radius: 0.625rem;
    place-self: center;
    display:inline-flex;
    align-item: center;
    justify-content: center;
}
.footer {
    grid-area: footer;
}
.container {
    display: grid;
    margin: 0 2rem;
    grid-template-columns: 2fr 6fr 4fr; // fr - fraction of th free space
    // 2 + 6 + 4 = 12 // 6 /12 = 0.5 = 50% free space
    grid-gap: 2rem 1rem;  // free spacing between the rows and columns
    grid-template-rows: 3rem;  
    grid-template-areas: 
    "logo menu menu" 
    "content content sidebar"
    "sponsors sponsors sponsors"
    "footer footer footer" ;
}
.main-header {
    height: 3rem;
}
