* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: Georfia, serif;
}
body {
    background-color: #fbfbfb;
}
h1, h2, h3 {
    margin-top: 0;
}
header h1 {
    margin: 0;
}
main p {
    margin-bottom: 0;
}
.logo {
    grid-area: logo;
}
.main-menu {
    grid-area:menu;
}
.content-area {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
}
.sponsors-wrapper {
    grid-are:sponsors;
}
.footer {
    grid-area: footer;
}
.container {
    display: grid;
    margin: 0 2rem;
    grid-template-columns: 2fr 6fr 4fr; // fr - fraction of th free space
    // 2 + 6 + 4 = 12 // 6 /12 = 0.5 = 50% free space
    grid-gap: 2rem 1rem;  // free spacing between the rows and columns
    
}